html {
  font-size: 62.5%;
}
body {
  background-image: url("./images/bg-desktop.svg");
  background-color: hsl(257, 40%, 49%);
  margin-left: 6rem;
  margin-right: 6rem;
  max-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
}
.huddle-logo {
  width: 1rem;
  margin-top: 2rem;
}
.illustration {
  grid-column: 1/2;
  grid-row: 2/3;
}
.text-content {
  margin-top: 5rem;
  grid-column: 2/3;
  grid-row: 2/3;
  color: #fff;
}
.text-content h1 {
  font-size: 3.8rem;
}
.text-content p {
  margin-top: 2rem;
  font-size: 1.6rem;
}
button {
  cursor: pointer;
  padding: 1.5rem 6.5rem;
  color: hsl(257, 40%, 49%);
  font-weight: bold;
  border: none;
  border-radius: 3rem;
  margin-top: 2rem;
  box-shadow: 8px 1px 5px 12px rgba(103, 75, 175, 0.75);
  -webkit-box-shadow: 8px 1px 5px 12px rgba(103, 75, 175, 0.75);
  -moz-box-shadow: 8px 1px 5px 12px rgba(103, 75, 175, 0.75);
}
.icons-container {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: end;
  gap: 15px;
}
.fa-instagram,
.fa-twitter,
.fa-facebook-f {
  padding: 8px;
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  /* to change the color of my svg icons */
  filter: brightness(0) invert(100%);
}
